@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* fonts attribute */
/* font-family: 'Work Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #534c64;
  --secondary-color: #0b0223;
}
/* shares class codes start here */
.linear-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  border-radius: 48px;
  border: none;
  outline: none;
  color: #ffffff;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.container {
  max-width: 1200px;
  margin: auto;
}
/* shares class codes end here */

/* header styles code start here */
.header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-container .logo img {
  height: 40px;
}
.header-container .logo h1 {
  color: #000223;
  margin-left: 15px;
}
.header-container .logo h1 .logo-g {
  color: #ff42a5;
}
/* navbar */
.nav {
  width: 50%;
}
.nav .nav-item-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav .nav-item-container .nav-item {
  list-style: none;
  margin-left: 35px;
  font-size: 1.16rem;
}
.nav .nav-item-container .nav-item a {
  text-decoration: none;
  color: #3c354f;
  font-weight: 500;
}
.nav .nav-item-container .header-follow-btn {
  display: flex;
  border-radius: 8px;
  padding: 10px 15px;
  background: rgba(11, 2, 35, 0.1);
}
.nav .nav-item-container .header-follow-btn i {
  color: red;
  margin-left: 10px;
  font-size: 1.16rem;
}
.nav .nav-item-container .header-follow-btn .youtube-icon {
  color: #f61c0d;
}
.nav .nav-item-container .header-follow-btn .tiktok-icon {
  color: #000223;
}
/* header styles code end here */

/* banner section styles code start here */
.banner {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
}
.banner-container {
  display: flex;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 100%;
}
.banner-content h3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.banner-content h2 {
  font-size: 5.93rem;
  font-weight: 800;
  text-transform: uppercase;
}
/* banner section styles code end here */
