@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* fonts attribute */
/* font-family: 'Work Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #534c64;
  --secondary-color: #0b0223;
}
/* shares class codes start here */
.linear-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  border-radius: 48px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 18px 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.container {
  max-width: 1200px;
  margin: auto;
}
/* shares class codes end here */

/* header styles code start here */
.header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-container .logo img {
  height: 40px;
}
.header-container .logo h1 {
  color: #000223;
  margin-left: 15px;
}
.header-container .logo h1 .logo-g {
  color: #ff42a5;
}
/* navbar */
.nav {
  width: 50%;
}
.nav .nav-item-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav .nav-item-container .nav-item {
  list-style: none;
  margin-left: 35px;
  font-size: 1.16rem;
}
.nav .nav-item-container .nav-item a {
  text-decoration: none;
  color: #3c354f;
  font-weight: 500;
}
.nav .nav-item-container .header-follow-btn {
  display: flex;
  border-radius: 8px;
  padding: 10px 15px;
  background: rgba(11, 2, 35, 0.1);
}
.nav .nav-item-container .header-follow-btn i {
  color: red;
  margin-left: 10px;
  font-size: 1.16rem;
}
.nav .nav-item-container .header-follow-btn .youtube-icon {
  color: #f61c0d;
}
.nav .nav-item-container .header-follow-btn .tiktok-icon {
  color: #000223;
}
/* header styles code end here */

/* banner section styles code start here */
.banner {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
}
.banner-container {
  display: flex;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-image {
  width: 50%;
  margin-top: 20px;
}
.banner-image img {
  width: 100%;
  display: block;
}
.banner-content h3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.banner-content h2 {
  font-size: 5.93rem;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-content ul li {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.banner-content ul li i {
  width: 30px;
}
.banner-content .banner-buttons {
  margin-top: 30px;
  display: flex;
}
.banner-content .banner-buttons button {
  margin-right: 20px;
}
.banner-content .banner-buttons .rought-btn {
  background: #4ec5f7;
}

/* banner section styles code end here */

/* about section styles code start here */
.about {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 40px 0;
}
.about-container {
  display: flex;
  align-items: center;
}
.about-image {
  width: 60%;
}
.about-image img {
  width: 100%;
  display: block;
}
.about-content {
  width: 40%;
  text-align: right;
}
.about-content .about-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-content .about-desc {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 20px 0 30px;
  line-height: 26px;
  color: var(--primary-color);
}
.about-content .about-desc .about-btn {
  font-weight: 600;
  font-size: 1.25rem;
}
.about-content .proverb-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 25px;
  color: var(--secondary-color);
}
.about-content .proverb-desc {
  margin-top: 5px;
  font-size: 1.6rem;
  color: var(--secondary-color);
}
/* about section styles code end here */

/* online video section style code start here */
.online-video-container .video-sec-title, .video-sec-desc{

}
/* online video section style code end here */












